<%- include('header'); -%>

<div class="box" id="heading">
  <h1><%= listTitle %> List</h1>
</div>
<div class="box">
  <% tasks.forEach(element => { %>
  <form class="" action="/delete" method="post">
    <div class="item">
      <input type="checkbox">
      <p><%= element.name %></p>
      <input type="hidden" name="_id" value="<%= element.id %>">
      <button type="submit"><i class="fa-regular fa-trash-can fa-lg"></i></button>
    </div>
  </form>
  <% }) %>


  <form action="/" method="post" class="item">
    <input type="text" name="newTask" placeholder="Enter a new task..." autocomplete="off">
    <button type="submit" name="addButton" value=<%= listTitle %>>+</button>
  </form>
</div>
<%- include('footer'); -%>
